.admin-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px 20px;
  color: #00563B;;
}

.admin-navbar .logo {
  font-size: 30px;
  font-weight: bold;
}

.admin-navbar .nav-links {
  display: flex;
  gap: 20px;
  font-size:20px;
}

.admin-navbar .nav-links a {
  color: #00563B;
  text-decoration: none;
  font-weight: 500;
}

.admin-navbar .nav-links a.active {
  border-bottom: 2px solid #00563B;
}

.logout-btn {
  background-color: #00563B;
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-size:18px;
}

.logout-btn:hover {
  background-color: tomato;
}
